html,
body {
  position: relative;
  margin: 0;
  font-size: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: Roboto;
  background-color: #f4f4f4;
}

h1,
h2,
h3,
h4 {
  font-family: Overlock;
}

a {
  outline: 0;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

header {
  background: red;
  width: 200px;
  position: fixed;
  height: 100vh;
  z-index: 9999;
  top: 0;
}

.bold {
  font-weight: bold !important;
}

.error_label {
  color: #fbfbfb;
  background: #f44336;
  font-weight: 700;
}

header {
  .wrapper {
    overflow: hidden;
    border-right: 1px solid #d9d9d9;
    box-shadow: 0 0 16px -6px #000000;
    -webkit-box-shadow: 0 0 16px -6px #000000;
    -moz-box-shadow: 0 0 16px -6px #000000;
    width: 200px;
    min-height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 102;
    left: 0;
    -webkit-overflow-scrolling: touch;
  }

  .top_nav {
    display: table;
    margin: 25px auto;

    img {
      width: 100%;
      padding: 0 20px;
    }
  }

  .nav_section ul {
    border-top: 1px solid #d9d9d9;
    margin-top: 50%;

    li {
      border-bottom: 1px solid #d9d9d9;
      text-align: center;

      &.active {
        background-color: #f50;

        a {
          color: #fff;
        }
      }

      a {
        height: 100px;
        position: relative;
        display: block;
        font-size: 14px;
        color: #5a5a5a;

        span {
          position: absolute;
          top: 22%;
          transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          position: relative;
          display: table;
          margin: 0 auto;
          font-family: Overlock;
          font-weight: 700;
        }

        i {
          font-size: 30px;
          padding-top: 20px;
          color: inherit;
        }
      }
    }
  }
}

/* header .nav_section li a span::before {
    content: 'hey';
    display: block;
    padding-bottom: 10px;
} */

.main_container {
  margin-left: 200px;
}

.featured_container {
  background: red;
  height: 500px;
  position: relative;
  background-size: cover !important;
  color: #ffffff;

  .overlay {
    transition: all 0.25s;
    box-shadow: inset 0 0 0 0 white;
    background: rgba(0, 0, 0, 0.28);
    min-height: 100%;
  }

  &:hover {
    .overlay {
      transition: all 0.25s;
      background: rgba(1, 1, 1, 0.48);
    }
  }

  .info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 400px;

    .top {
      h2 {
        font-size: 20px;
        background: #202020;
        padding: 5px 10px;
        display: inline-block;
      }
    }

    .description {
      h3 {
        font-weight: 700;
        font-size: 40px;
        font-family: Overlock;
      }

      p {
        font-family: Roboto;
        font-size: 12px;
      }
    }
  }
}

.pizzas_wrapper {
  .articles {
    width: 100%;
    overflow: hidden;

    .item {
      width: 100%;
      display: block;
      overflow: hidden;
      position: relative;
      width: 50%;
      float: left;
    }
  }

  .inner-item {
    height: 380px;
    position: relative;
    background-size: cover !important;
    color: #ffffff;
    margin: 1px;

    .overlay {
      transition: all 0.25s;
      box-shadow: inset 0 0 0 0 white;
      background: rgba(0, 0, 0, 0.28);
      min-height: 100%;
    }

    &:hover {
      .overlay {
        transition: all 0.25s;
        background: rgba(1, 1, 1, 0.48);
      }
    }

    .item-info {
      position: absolute;
      bottom: 20px;
      left: 20px;
      width: 400px;
    }
  }
}

.title_page {
  position: fixed;
  width: 100%;
  left: 0;
  padding-left: 200px;
  background-color: black;
  height: 50px;
  z-index: 100;
  backface-visibility: hidden;
  top: 0;

  h1 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    float: left;
    text-transform: initial;
    height: 50px;
    min-height: 100%;
    padding: 18px 18px;
    color: white;
  }
}

.content_wrapper {
  margin-top: 50px;

  h1 {
    font-family: Overlock;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
  }

  .inner {
    text-transform: initial;
    text-align: center;
    padding: 45px 25%;

    h2 {
      font-family: Overlock;
      font-size: 25px;
      font-weight: 700;
      line-height: 30px;
    }

    p {
      text-align: justify;
    }
  }

  .middle {
    padding: 0 25px 25px 25px;

    .inner-middle {
      margin: 0 -1px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .item.two_c {
        width: 50%;

        &::after {
          content: "";
          display: block;
          clear: both;
        }

        .wrapp {
          margin-left: 1px;
          margin-right: 1px;
          margin-top: 0;
          margin-bottom: 40px;

          .top {
            background-position: center center !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            position: relative;
            height: 220px;
          }

          .bottom {
            position: relative;
            transition: all 0.25s;
            background-color: white;
            padding: 40px;

            h2 {
              font-size: 14px;
              font-family: Overlock;
              font-weight: 700;
              text-transform: initial;
              margin-bottom: 10px;
            }

            h3 {
              font-size: 12px;
            }

            p {
              font-size: 13px;
              font-weight: 100;
              font-family: "Graphik", sans-serif;
              color: #343434;
              margin-bottom: 15px;
              line-height: 25px;
            }
          }
        }
      }
    }
  }
}

.pizza_page {
  .top {
    background: red;
    height: 500px;
    position: relative;
    background-size: cover !important;
    color: #ffffff;
  }

  .middle {
    padding: 15px;

    .btn-area {
      position: relative;
      display: inline-block;
      align-items: center;

      span {
        display: none;
        width: 100%;
        position: absolute;
        padding: 10px 10px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.28);
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;

        &.active {
          display: inline-block;
          z-index: 10;
        }
      }
    }

    .price {
      background: #f44336;
      color: #fff;
      padding: 10px 20px;
      display: inline-block;
      font-size: 20px;
      font-weight: 500;
      margin: 20px 0px;

      &.btn {
        cursor: pointer;

        &:hover {
          background-color: #333;
        }

        &:active {
          outline: none;
        }
      }
    }
  }
}

.login_btn {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #333;
    color: #fff;
  }
}

.user_actions {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

.admin_layout {
  padding: 20px;

  h1,
  h2,
  h3,
  h4 {
    font-family: Roboto;
  }

  .admin_header {
    color: #4e4e4e;
    border-bottom: 1px solid #bfbfbf;

    .admin_nav {
      margin-bottom: 20px;
      ul {
        li {
          display: inline-block;
          margin-right: 10px;
          padding: 3px 20px;
          background: #656565;

          a {
            color: #ffffff;
          }
        }
      }
    }
  }
}

.admin_panel {
  font-family: Roboto;
  margin-top: 20px;
}

.update {
  background: #4caf50;
  color: #ffffff;
  display: block;
  width: 200px;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.messages_container {
  position: relative;

  .item {
    border: 1px solid #d6d6d6;
    background: white;
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
  }

  .tag {
    margin-bottom: 5px;
    border-bottom: 1px solid #e4e4e4;

    span {
      font-weight: 700;
      color: #2196f3;
    }
  }

  .delete_btn {
    position: absolute;
    background: #f44336;
    color: #fff;
    padding: 5px 10px;
    font-size: 10px;
    top: 0;
    right: 0;
  }
}

form {
  margin-top: 50px;
  button {
    margin-top: 10px;
  }
}

@import "./UserProfile.style.scss";
@import "./MainLayout.style.scss";
@import "./Basket.style.scss";
@import "./BasketPage.style.scss";
@import "./Slider.style.scss";
@import "./UserProfileMenu.style.scss";
